sudo: required
language: generic
dist: xenial
notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - avishaya@amazon.com
    #- travis-build@platform-notifications.robomaker.aws.a2z.com
env:
  matrix:
  - ROS_DISTRO=kinetic ROS_VERSION=1 GAZEBO_VERSION=7
  - ROS_DISTRO=kinetic ROS_VERSION=1 GAZEBO_VERSION=9
  - ROS_DISTRO=melodic ROS_VERSION=1 GAZEBO_VERSION=9
  global:
  - SA_NAME=dog-finder
  - SA_PACKAGE_NAME=dogfinder_robot
  - NO_TEST=true
  - GH_USER_NAME="travis-ci"
  - GH_USER_EMAIL="travis@travis-ci.org"
  - AWS_DEFAULT_REGION=us-west-2
before_install:
- pip install --user awscli
install:
- git clone https://github.com/aws-robotics/travis-scripts.git .ros_ci
script:
- . .ros_ci/add_tag.sh
- while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
- .ros_ci/ce_build.sh
- kill %1
